<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JKShop"
        tools:targetApi="31">
        <activity
            android:name=".layer.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".layer.shoplist.JkoShopListActivity">
        </activity>
        <activity
            android:name=".layer.shopdetail.JkoShopDetailActivity">
        </activity>
        <activity
            android:name=".layer.shopcart.JkoShopCartActivity">
        </activity>
    </application>

</manifest>